services:
  http-over-all:
    container_name: http-over-all
    image: 1thorsten/http-over-all
    platform: linux/amd64
    restart: unless-stopped
    labels:
      # value (false,all,admin)
      - docon.v1={"console":"all","control":"all"}
    env_file:
      - example.env
      #- example_test.env
      #- example_smb.env
      #- example_proxy.env
      #- crypt_key.env
    ports:
      # http/1.1
      - "8338:80"
      - "7227:3000"
      # http/2 ssl
      - "4334:443"
    cap_add:
      # necessary for SSH and SMB
      - SYS_ADMIN
      # necessary for SMB
      - DAC_READ_SEARCH
    devices:
      - "/dev/fuse:/dev/fuse"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - docker-data:/remote/docker
      - git-repos:/remote/git
      - local-data:/local-data
      - nginx-cache:/nginx-cache
volumes:
  docker-data:
  git-repos:
  local-data:
  nginx-cache:
